/**/

html,body {
  background: rgb(5, 166, 101);
  height: 100%;
}

.out {
  border: solid 10px rgb(248, 9, 9);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: white

}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: red;
}
